<!DOCTYPE html>
<html>
  <head>
  	<title>Portland</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => false %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <%= yield %>
  </body>
</html>

